.DS_Store
.Rhistory
/slides/01-basics/01-basics_files
/slides/02-decomp/02-decomp_files
/slides/03-regression/03-regression_files
/slides/04-arima/04-arima_files
/slides/05*
/slides/06*
/slides/07*
/slides/08*
/slides/09*
/slides/10*
